Source: postgresql-8.4
Section: database
Priority: optional
Maintainer: Debian PostgreSQL Maintainers <pkg-postgresql-public@lists.alioth.debian.org>
Uploaders: Martin Pitt <mpitt@debian.org>, Peter Eisentraut <petere@debian.org>
Standards-Version: 3.9.1
Build-Depends: debhelper (>= 5.0.37.2), cdbs (>= 0.4.43), perl (>= 5.8),
 libperl-dev, libedit-dev,
 zlib1g-dev | libz-dev,
 libpq-dev (>= 8.4~),
 gettext, hardening-wrapper,
 bison, flex
Homepage: http://www.postgresql.org/
Vcs-Browser: http://anonscm.debian.org/loggerhead/pkg-postgresql/postgresql-8.4/trunk
Vcs-Bzr: http://bzr.debian.org/bzr/pkg-postgresql/postgresql-8.4/trunk/

Package: postgresql-plperl-8.4
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, perl
Description: PL/Perl procedural language for PostgreSQL 8.4
 PL/Perl enables an SQL developer to write procedural language functions
 for PostgreSQL 8.4 in Perl.  You need this package if you have any
 PostgreSQL 8.4 functions that use the languages plperl or plperlu.
 .
 PostgreSQL 8.4 is obsolete. This package is only provided for upgrades from
 8.4 from Debian 6.0 ("Squeeze") and should not be installed otherwise.
