Source: postgresql-9.1
Section: database
Priority: optional
Maintainer: Debian PostgreSQL Maintainers <pkg-postgresql-public@lists.alioth.debian.org>
Uploaders: Martin Pitt <mpitt@debian.org>, Peter Eisentraut <petere@debian.org>, Christoph Berg <myon@debian.org>
Standards-Version: 3.9.5
Build-Depends: debhelper (>= 8~),
 dpkg-dev (>= 1.16.1~) | hardening-wrapper,
 perl (>= 5.8),
 libperl-dev,
 libedit-dev,
 zlib1g-dev | libz-dev,
 libpq-dev (>= 9.1),
 bison,
 flex,
 gettext
Homepage: http://www.postgresql.org/
Vcs-Browser: https://alioth.debian.org/scm/loggerhead/pkg-postgresql/postgresql-9.1/jessie/changes
Vcs-Bzr: http://anonscm.debian.org/bzr/pkg-postgresql/postgresql-9.1/jessie/

Package: postgresql-plperl-9.1
Architecture: any
Depends: ${misc:Depends},
 ${shlibs:Depends},
 perl
Breaks: postgresql-9.1 (<< 9.1.12)
Description: PL/Perl procedural language for PostgreSQL 9.1
 PL/Perl enables an SQL developer to write procedural language functions
 for PostgreSQL 9.1 in Perl.  You need this package if you have any
 PostgreSQL 9.1 functions that use the languages plperl or plperlu.
 .
 PostgreSQL 9.1 is obsolete. This package is only provided for upgrades from
 9.1 from Debian 7.x ("Wheezy") and should not be installed otherwise.
